/* background */
// $bg-default: #f5f5f5 !default;
$bg-default: #fff !default;
$bg-paper: #fff !default;

/* text */
$text-primary: #424242 !default;
$text-secondary: #bdbdbd !default;

/* color */
$color-primary: #424242 !default;

/* breakpoints */
$breakpoints-xs: 0 !default;
$breakpoints-sm: 600px !default;
$breakpoints-md: 900px !default;
$breakpoints-lg: 1200px !default;
$breakpoints-xl: 1536px !default;
