// background
$bg-default: #f7f7f7;
$bg-paper: #fff;

// text
$text-primary: rgb(66, 66, 66);
$text-secondary: rgba(66, 66, 66, 0.3);
$text-disabled: rgba(66, 66, 66, 0.2);
$text-light-primary: rgb(255, 255, 255);
$text-light-secondary: rgba(255, 255, 255, 0.6);
$text-light-disabled: rgba(255, 255, 255, 0.4);

// color
$color-primary: rgb(66, 66, 66);

// breakpoints
$breakpoints-sm: 600px;
$breakpoints-md: 900px;
$breakpoints-lg: 1200px;
$breakpoints-xl: 1536px;