@use "variable";
@use "mixin";

.contentWrapper {
  margin-top: 150px;
}

.divider {
  border-bottom: medium solid variable.$text-primary;
  width: 100%;
}

.title {
  display: block;
  overflow: hidden;
}

.list {
  margin-left: 23px;

  li {
    margin-bottom: 25px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}