* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none !important;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.MuiContainer-root {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

@media (min-width: 960px) {
  .MuiContainer-maxWidthLg {
    max-width: 1050px !important;
  }
}
