@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

#__next {
  background-color: variables.$bg-default;
  height: 100%;
}

html,
body {
  font-family: -apple-system, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* mui Container */
.MuiContainer-root {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 960px) {
  .MuiContainer-maxWidthMd {
    max-width: 1020px !important;
  }
}

// text mask
.textMask {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: -0.2em;
  padding: 0.2em;

  .text {
    display: inline-block;
  }
}
