* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

@media (min-width: 960px) {
  .MuiContainer-maxWidthLg {
    max-width: 1030px !important;
  }
}
