@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

#__next {
  background-color: variables.$bg-default;
}

html,
body {
  font-family: -apple-system, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* mui Container */
.MuiContainer-root {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 960px) {
  .MuiContainer-maxWidthLg {
    max-width: 1020px !important;
  }
}
