@use "variable";
@use "mixin";

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: none !important;
}

html,
body {
  font-family: "Lato", "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#root {
  background-color: variable.$bg-default;
}

@include mixin.breakpoints(sm) {
  .MuiContainer-root {
    padding: 0 25px !important;
  }
}

@include mixin.breakpoints(lg) {
  .MuiContainer-maxWidthMd {
    max-width: 1000px !important;
  }
}

@include mixin.breakpoints(lg) {
  .MuiContainer-maxWidthSm {
    max-width: 800px !important;
  }
}
