@use "variable";
@use "mixin";

// navbar
.nav {
  z-index: inherit;
  position: fixed;
  top: 60px;
  right: 60px;

  li.navItem {
    list-style: none;
    margin-bottom: 1em;

    .navLink {
      color: variable.$text-secondary;
      font-weight: 500;
      font-size: 0.9em;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .divider {
        border-bottom: 2px solid variable.$text-secondary;
        width: 10px;
        margin-left: 10px;
      }
    }

    .active {
      color: variable.$text-primary !important;
      font-weight: 700 !important;

      .divider {
        border-bottom: 2px solid variable.$text-primary;
      }
    }
  }

  // tablet mode
  @include mixin.breakpoints(md) {
    position: absolute;
    top: 25px;
    right: 30px;

    li.navItem {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1.5em;

      .navLink {
        flex-direction: column;
        align-items: flex-start;

        .divider {
          margin-left: 0;
        }
      }
    }
  }
}

// logo
.logo {
  z-index: inherit;
  position: fixed;
  top: 60px;
  left: 60px;
  object-fit: contain;
  width: 60px;
  height: 60px;

  @include mixin.breakpoints(md) {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 50px;
    height: 50px;
  }
}
