@use "variable";
@use "mixin";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include mixin.breakpoints(md) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 10px 25px;
  }
}

.nav {
  position: absolute;
  top: 60px;
  right: 60px;

  .navItem {
    list-style: none;
    margin-bottom: 1em;

    .navLink {
      color: variable.$text-secondary;
      font-weight: 500;
      font-size: 0.75em;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .divider {
        border-bottom: 2px solid variable.$text-secondary;
        width: 10px;
        margin-left: 10px;
      }
    }

    .active {
      color: variable.$text-primary !important;
      font-weight: 700 !important;

      .divider {
        border-bottom: 2px solid variable.$text-primary;
      }
    }
  }

  // tablet mode
  @include mixin.breakpoints(md) {
    position: unset;

    .navItem {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1.5em;

      .navLink {
        flex-direction: column;
        align-items: flex-start;

        .divider {
          margin-left: 0;
        }
      }
    }
  }
}

// logo
.logo {
  object-fit: contain;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;

  @include mixin.breakpoints(md) {
    position: unset;
    width: 45px;
    height: 45px;
  }
}