@use "variables";

.root {
  padding-top: 25vh;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .title {
    font-size: 9em;
    line-height: 100%;
    font-weight: 600;
    white-space: pre-line;

    @media screen and (max-width: variables.$breakpoints-lg) {
      font-size: 7em;
    }

    @media screen and (max-width: variables.$breakpoints-md) {
      font-size: 6em;
    }

    @media screen and (max-width: variables.$breakpoints-sm) {
      font-size: 5.5em;
    }
  }
}

.textMask {
  display: inline-block;
  overflow: hidden;
  margin: -0.2em;
  padding: 0.2em;
  vertical-align: top;
}

.version {
  font-size: 1em;
  display: inline-block;
  font-weight: bold !important;
}

.divider {
  border: 2px solid variables.$text-primary;
  width: 100%;
  margin-top: 20vh;

  @media screen and (max-width: variables.$breakpoints-sm) {
    margin-top: 15vh;
  }
}
