@use "variable";
@use "mixin";

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .title {
    font-size: 7em;
    line-height: 80%;
    font-weight: 600;
    white-space: pre-line;

    @include mixin.breakpoints(sm) {
      font-size: 5.5em;
    }

    @include mixin.breakpoints(xs) {
      font-size: 4em;
    }
  }
}

.textMask {
  display: inline-block;
  overflow: hidden;
  padding: 0.2em;
  vertical-align: middle;

  span {
    display: inline-block;
  }
}

.version {
  font-size: 0.8em;
  display: inline-block;
  font-weight: 800 !important;
}

.divider {
  border-bottom: medium solid variable.$text-primary;
  width: 100%;
  margin-top: 150px;

  @include mixin.breakpoints(sm) {
    margin-top: 70px;
  }
}
