@use "variable";
@use "mixin";

.root {
  scroll-snap-align: start;
}

.image {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
  pointer-events: none;
}

// image horizontal
.horizontal {
  display: flex;
  flex-flow: row wrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: auto;
  padding: 0 170px;
  margin-top: 15vh;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mixin.breakpoints(md) {
    padding: 0 50px;
  }

  @include mixin.breakpoints(sm) {
    flex-flow: row nowrap;
    padding: 0;
  }

  .imageWrapper {
    scroll-snap-align: center;
    flex-shrink: 0;
    margin: auto;
    padding: 10px;
  }
}

.imageVertical {
  margin: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 80vh;
  pointer-events: none;
}
