@use "variables";

.root {
  width: 100%;
  height: 460px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}

.image {
  object-fit: contain;
  max-width: 80% !important;
  max-height: 65% !important;
  z-index: 2;
  pointer-events: none;
}

.topText {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
  font-size: 17px;
  font-weight: 500;
  padding: 0 35px;
  pointer-events: none;
}

.bottomText {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
  font-size: 13px;
  font-weight: 500;
  padding: 0 35px;
  pointer-events: none;

  @media only screen and (max-width: variables.$breakpoints-md) {
    display: none;
  }
}
