@use "variable";
@use "mixin";

.root {
  position: relative;
  width: 100%;
  height: 460px;
  border-radius: 10px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 15px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .image {
    object-fit: contain;
    max-width: 80%;
    max-height: 300px;
    border-radius: 15px;
  }

  .topText {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    color: variable.$text-light-primary;
    font-size: 1em;
    font-weight: 600;
  }

  .bottomText {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    color: variable.$text-light-primary;
    font-size: 0.8em;
    font-weight: 600;
  }
}