@use "variable";
@use "mixin";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  padding: 10px;
  z-index: 2000;
  position: fixed;
  bottom: 60px;
  right: 60px;

  @include mixin.breakpoints(xs) {
    bottom: 15px;
    right: 25px;
  }
}

.banner {
  background-color: variable.$color-primary;
  border-radius: 25%;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.icon {
  z-index: 2;
  color: variable.$text-light-primary;
}
