@use "variable";
@use "mixin";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  z-index: 2000;
  position: fixed;
  bottom: 60px;
  right: 60px;
  background-color: variable.$color-primary;

  @include mixin.breakpoints(xs) {
    bottom: 15px;
    right: 25px;
  }

  .icon {
    color: variable.$text-light-primary;
  }
}